footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
}

.tab-item-list {
  border-top: 0.0313rem solid #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}
.theme-wrapper.highContrast .tab-item-list {
  background-color: #000000;
}

.tab-item-list li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-item-list li a {
  top: 0;
  width: 100%;
  display: inline-block;
  font-size: 0.625rem;
  color: #767676;
  text-align: center;
  position: relative;
}
.tab-item-list li a::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 35%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: 352px 44px;
  background-image: url(../assets/sprites/footer-sprites.png);
}
.theme-wrapper.highContrast .tab-item-list li a::before {
  background-image: url(../assets/sprites/footer-sprites-hc.png);
}

.tab-item-list li a.here {
  color: #000000;
}
.theme-wrapper.highContrast .tab-item-list li a.here {
  color: #ffffff;
}

.tab-item-list li a:hover {
  background-color: #F1F1F1;
  color: #000000;
}
.tab-item-list li p {
  font-weight: 400;
  padding-top: 2.5rem;
  padding-bottom: 0.625rem;
  text-align: center;
  width: 25vw;
}
.tab-item-list li:first-child a::before {
  background-position: -142px -10px;
}
.tab-item-list li:first-child a.here::before {
  background-position: -98px -10px;
}
.tab-item-list li:nth-child(2) a::before {
  background-position: -230px -10px;
}
.tab-item-list li:nth-child(2) a.here::before {
  background-position: -186px -10px;
}
.tab-item-list li:nth-child(3) a::before {
  background-position: -54px -10px;
}
.tab-item-list li:nth-child(3) a.here::before {
  background-position: -54px -10px;
}
.tab-item-list li:nth-child(4) a::before {
  background-position: -318px -10px;
}
.tab-item-list li:nth-child(4) a.here::before {
  background-position: -274px -10px;
}