.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid #dbdbdb;
}

.nav-main {
  padding: 0.8125rem 1rem;
}
.nav-search {
  padding: 0.5625rem 1rem;
}
.nav-basic, .nav-chat {
  padding: 0.1875rem 0.3125rem;
}
.nav-upload {
  padding: 0.1875rem 1rem 0.3125rem 0.1875rem;
}

.btn-back {
  width: 2.75rem;
  height: 2.75rem;
  background: url("../assets/icon/icon-arrow-left.svg") no-repeat center;
}

.btn-option, .btn-more {
  width: 2.75rem;
  height: 2.75rem;
  background: url("../assets/icon/icon-more-vertical.svg") no-repeat center;
}

.highContrast .btn-back {
  background-image: url("../assets/icon/icon-arrow-left-hc.svg");
}
.highContrast .btn-option, .highContrast .btn-more {
  background-image: url("../assets/icon/icon-more-vertical-hc.svg");
}

.nav-basic .btn-back, .nav-upload .btn-back {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.nav-basic .btn-option, .nav-basic .btn-save, .nav-basic #upload-btn, .nav-upload .btn-option, .nav-upload .btn-save, .nav-upload #upload-btn {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.nav-chat .btn-back, .nav-chat .profile-img, .comment .btn-back, .comment .profile-img {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-right: 0.625rem;
}
.nav-chat .title-chat, .nav-chat #commemt-input, .comment .title-chat, .comment #commemt-input {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav-chat .btn-comment, .comment .btn-comment {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

.nav-search .btn-button {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}
.nav-search #inp-search {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1.25rem;
  border-radius: 2rem;
  padding: 0.4375rem 0rem 0.4375rem 1rem;
  background-color: #f2f2f2;
  line-height: 1.125rem;
}
.nav-search input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.nav-search input::-moz-placeholder {
  color: #c4c4c4;
}
.nav-search input:-ms-input-placeholder {
  color: #c4c4c4;
}
.nav-search input::-ms-input-placeholder {
  color: #c4c4c4;
}
.nav-search input::placeholder {
  color: #c4c4c4;
}

.nav-main .title-main {
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-chat .title-chat {
  font-size: 0.875rem;
  font-weight: 500;
}

.nav-chat .btn-back, .nav-chat .profile-img, .comment .btn-back, .comment .profile-img {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-right: 0.625rem;
}
.nav-chat .title-chat, .nav-chat #commemt-input, .comment .title-chat, .comment #commemt-input {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: auto;
}
.nav-chat .btn-option, .nav-chat .btn-comment, .comment .btn-option, .comment .btn-comment {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
}