.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

body {
  background-color: #635CA5;
  position: relative;
  text-align: center;
}

.back {
  height: calc(100vh - 19.375rem);
  background-image: url(../assets/symbol/light-basic.svg);
  background-repeat: no-repeat;
  background-position: 98% 98%;
}
.theme-wrapper.highContrast .back {
  background-image: url(../assets/symbol/hc-basic.svg);
}

.login {
  background-color: #ffffff;
  border-radius: 1.25rem 1.25rem 0 0;
  padding: 3.125rem 2.125rem 5.125rem;
  min-width: 24.375rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.theme-wrapper.highContrast .login {
  background-color: #000000;
}

.domain {
  display: block;
  border: 0.0625rem solid #767676;
  border-radius: 2.75rem;
  font-size: 0.875rem;
  padding: 0.8125rem;
  position: relative;
}
.domain + .domain {
  margin-top: 0.625rem;
}
.domain::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 10px;
}
.domain.kakao {
  border-color: #F2C94C;
  color: #767676;
}
.theme-wrapper.highContrast .domain.kakao {
  border-color: #FFEB32;
}

.theme-wrapper.highContrast .domain.kakao {
  color: #f2f2f2;
}

.domain.kakao::before {
  background: no-repeat url(../assets/sprites/sns-logo-sprites.png) -10px -10px/132px 44px;
}
.domain.google {
  border-color: #767676;
  color: #767676;
}
.theme-wrapper.highContrast .domain.google {
  border-color: #65FB76;
}

.theme-wrapper.highContrast .domain.google {
  color: #f2f2f2;
}

.domain.google::before {
  background: no-repeat url(../assets/sprites/sns-logo-sprites.png) -54px -10px/132px 44px;
}
.domain.facebook {
  border-color: #2D9CDB;
  color: #767676;
}
.theme-wrapper.highContrast .domain.facebook {
  border-color: #B3E3FF;
}

.theme-wrapper.highContrast .domain.facebook {
  color: #f2f2f2;
}

.domain.facebook::before {
  background: no-repeat url(../assets/sprites/sns-logo-sprites.png) -98px -10px/132px 44px;
}

.email {
  font-size: 0.75rem;
  margin-top: 1.25rem;
  color: #767676;
}
.theme-wrapper.highContrast .email {
  color: #f2f2f2;
}

.email a {
  color: #767676;
}
.theme-wrapper.highContrast .email a {
  color: #f2f2f2;
}

.email span {
  margin: 0 0.75rem;
}