.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0px;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.login {
  padding: 30px;
}
.login .title {
  text-align: center;
  font-size: 24px;
}

.join {
  color: #767676;
  font-size: 0.75rem;
  display: inline-block;
  margin: 20px auto 0;
}

form {
  min-width: 330px;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 40px;
  color: #767676;
  font-size: 0.75rem;
}
form > label {
  display: block;
  margin-bottom: 2px;
  margin-top: 16px;
}
form > input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px 0;
  margin-bottom: 16p;
}
form > input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}
form > input::-moz-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}
form > input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}
form > input::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}
form > input::placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

.size-l {
  margin-top: 30px;
  background-color: #635CA5;
  color: #FFFFFF;
  font-weight: 500;
  width: 100%;
  padding: 13px 0px;
  border-radius: 44px;
  font-size: 0.875rem;
}

.size-l:disabled {
  background-color: #BCADDC;
  color: #FFFFFF;
}

[class^=warning-msg] {
  color: #EB5757;
  font-size: 12px;
  display: block;
  margin-top: 6px;
  display: none;
}

.email-join {
  text-align: center;
}

input:focus {
  border-bottom: 1px solid #9747FF;
  outline: none;
}