.login {
  padding: 1.875rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  color: #000000;
}
.theme-wrapper.highContrast .title {
  color: #ffffff;
}

.join {
  color: #767676;
  font-size: 0.75rem;
  display: inline-block;
  margin: 1.25rem auto 0;
}

form {
  min-width: 330px;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 2.5rem;
  color: #767676;
  font-size: 0.75rem;
}
.theme-wrapper.highContrast form {
  color: #f2f2f2;
}

form > label {
  color: #767676;
  margin-bottom: 0.125rem;
  display: block;
  margin-top: 1rem;
}
.theme-wrapper.highContrast form > label {
  color: #f2f2f2;
}

form > input {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-bottom: 0.0625rem solid #dbdbdb;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}
.theme-wrapper.highContrast form > input {
  background-color: #000000;
}

.theme-wrapper.highContrast form > input {
  color: #ffffff;
}

form > input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

form > input::-moz-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

form > input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

form > input::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

form > input::placeholder {
  font-size: 0.875rem;
  color: #dbdbdb;
}

.size-l {
  margin-top: 1.875rem;
  background-color: #635CA5;
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 500;
  width: 100%;
  padding: 0.8125rem 0rem;
  border-radius: 2.75rem;
  font-size: 0.875rem;
}
.theme-wrapper.highContrast .size-l {
  background-color: #E4D6FF;
}

.theme-wrapper.highContrast .size-l {
  color: #000000;
}

.theme-wrapper.highContrast .size-l {
  -webkit-box-shadow: 0 0 0 2px #E4D6FF inset;
          box-shadow: 0 0 0 2px #E4D6FF inset;
}

.size-l:disabled {
  background-color: #BCADDC;
  color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.theme-wrapper.highContrast .size-l:disabled {
  background-color: transparent;
}

.theme-wrapper.highContrast .size-l:disabled {
  color: #ffffff;
}

.theme-wrapper.highContrast .size-l:disabled {
  -webkit-box-shadow: 0 0 0 2px #E4D6FF inset;
          box-shadow: 0 0 0 2px #E4D6FF inset;
}

[class^=warning-msg] {
  color: #EB5757;
  font-size: 0.75rem;
  display: none;
  margin-top: 0.375rem;
}
.theme-wrapper.highContrast [class^=warning-msg] {
  color: #FFEB32;
}

.email-join {
  text-align: center;
}
.email-join a {
  color: #767676;
}
.theme-wrapper.highContrast .email-join a {
  color: #f2f2f2;
}

input:focus {
  border-bottom: 0.0625rem solid #9747FF;
  outline: none;
}

.color-wrapper {
  background-color: #ffffff;
}
.theme-wrapper.highContrast .color-wrapper {
  background-color: #000000;
}