.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.my-profile-container {
  text-align: center;
  padding-top: 1.875rem;
}
.my-profile-container a {
  text-decoration: none;
}
.my-profile-container .profile-top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-profile-container .profile-top-wrap a {
  font-size: 1.125rem;
  font-weight: 700;
}
.my-profile-container .profile-top-wrap .img-crop {
  margin-left: 37px;
  margin-right: 37px;
  border-radius: 50%;
  overflow: hidden;
}
.my-profile-container .profile-top-wrap .follow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.my-profile-container .profile-top-wrap .follow-wrap p {
  margin-top: 6px;
  font-size: 0.5rem;
  color: #767676;
}
.my-profile-container .profile-top-wrap .follower a {
  color: #000;
}
.my-profile-container .profile-top-wrap .following a {
  color: #767676;
}
.my-profile-container .profile-name {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.625rem;
}
.my-profile-container > p {
  color: #767676;
  font-size: 0.875rem;
  font-weight: 300;
}
.my-profile-container .profile-id {
  font-size: 0.75rem;
}
.my-profile-container .profile-id::before {
  content: "@ ";
}
.my-profile-container .profile-intro {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.my-profile-container .btn-wrap {
  font-size: 0;
  line-height: 0;
}
.my-profile-container .btn-wrap :first-child {
  margin-right: 12px;
}
.my-profile-container .link-btn {
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #dbdbdb;
  color: #767676;
  border-radius: 30px;
  padding: 0.5rem 1.7rem;
  font-size: 14px;
  font-weight: 500;
}