main {
  padding: 20px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 800px;
  margin: auto;
}

form {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
form > * {
  display: block;
}
form textarea {
  background-color: #fff;
  color: #000000;
  width: calc(100% - 24px);
  min-height: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 12px;
  border: none;
  resize: none;
}
.post-upload-wrapper.highContrast form textarea {
  background-color: #000000;
}

.post-upload-wrapper.highContrast form textarea {
  color: #ffffff;
}

form textarea::-webkit-scrollbar {
  display: none;
}
form textarea::-webkit-input-placeholder {
  color: #767676;
}
form textarea::-moz-placeholder {
  color: #767676;
}
form textarea:-ms-input-placeholder {
  color: #767676;
}
form textarea::-ms-input-placeholder {
  color: #767676;
}
form textarea::placeholder {
  color: #767676;
}
.post-upload-wrapper.highContrast form textarea::-webkit-input-placeholder {
  color: #dbdbdb;
}
.post-upload-wrapper.highContrast form textarea::-moz-placeholder {
  color: #dbdbdb;
}
.post-upload-wrapper.highContrast form textarea:-ms-input-placeholder {
  color: #dbdbdb;
}
.post-upload-wrapper.highContrast form textarea::-ms-input-placeholder {
  color: #dbdbdb;
}
.post-upload-wrapper.highContrast form textarea::placeholder {
  color: #dbdbdb;
}

form .img-cover {
  width: 30vw;
  max-width: 304px;
  min-width: 168px;
  aspect-ratio: 304/228;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
form .img-cover img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
form .img-cover button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-profile {
  display: inline-block;
  height: 42px;
  width: 42px;
  overflow: hidden;
  border-radius: 50%;
}
.user-profile img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

.input-file-btn {
  width: 50px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
}
.input-file-btn img {
  width: 50px;
  height: 50px;
}

.upload-imgs-list {
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: 16px;
  margin-left: 12px;
  margin-bottom: 10px;
}
.upload-imgs-list > li {
  display: inline-block;
  margin-right: 8px;
}
.upload-imgs-list::-webkit-scrollbar {
  display: none;
}

.btn-remove {
  background-image: url("../assets/icon/x.svg");
  width: 22px;
  height: 22px;
}

.size-ms:disabled {
  background-color: #BCADDC;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #767676;
}
.post-upload-wrapper.highContrast .size-ms:disabled {
  background-color: transparent;
}

.post-upload-wrapper.highContrast .size-ms:disabled {
  -webkit-box-shadow: 0 0 0 2px #E4D6FF inset;
          box-shadow: 0 0 0 2px #E4D6FF inset;
}

.post-upload-wrapper.highContrast .size-ms:disabled {
  color: #dbdbdb;
}

.size-ms {
  background-color: #635CA5;
  color: #ffffff;
}
.post-upload-wrapper.highContrast .size-ms {
  background-color: #E4D6FF;
}

.post-upload-wrapper.highContrast .size-ms {
  color: #000000;
}