.a11y-hidden {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

body {
  min-width: 24.375rem;
}

main {
  width: inherit;
  padding: 0 2.125rem;
  margin-top: 1.875rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form {
  min-width: 322px;
  max-width: 40%;
  margin: 0 auto;
  color: #767676;
  font-size: 0.75rem;
}
form > label {
  color: #767676;
  margin-bottom: 0.125rem;
  display: block;
}
.theme-wrapper.highContrast form > label {
  color: #f2f2f2;
}

form > input {
  display: block;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0.375rem;
  border: none;
  border-bottom: 0.0625rem solid #dbdbdb;
  padding: 0.5rem 0;
}
.theme-wrapper.highContrast form > input {
  background-color: #000000;
}

.theme-wrapper.highContrast form > input {
  color: #ffffff;
}

form > input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #c4c4c4;
}

form > input::-moz-placeholder {
  font-size: 0.875rem;
  color: #c4c4c4;
}

form > input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c4c4c4;
}

form > input::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #c4c4c4;
}

form > input::placeholder {
  font-size: 0.875rem;
  color: #c4c4c4;
}
.theme-wrapper.highContrast form > input::-webkit-input-placeholder {
  color: #FFEB32;
}
.theme-wrapper.highContrast form > input::-moz-placeholder {
  color: #FFEB32;
}
.theme-wrapper.highContrast form > input:-ms-input-placeholder {
  color: #FFEB32;
}
.theme-wrapper.highContrast form > input::-ms-input-placeholder {
  color: #FFEB32;
}
.theme-wrapper.highContrast form > input::placeholder {
  color: #FFEB32;
}

form label[for=product-price] {
  margin-top: 1rem;
}
form label[for=purchase-link] {
  margin-top: 1rem;
}

.product-img {
  border-radius: 1.25rem;
  background: #f2f2f2;
  position: relative;
  aspect-ratio: 5/3;
  margin-top: 1.125rem;
  margin-bottom: 1.875rem;
}
.product-img .btn-upload {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
}

#product-img-upload {
  display: none;
}

.upload-img circle {
  fill: #c4c4c4;
}
.theme-wrapper.highContrast .upload-img circle {
  fill: #000000;
}

.btn-upload .upload-img circle:hover {
  fill: #E4D6FF;
}

.warning-msg-productname {
  color: #EB5757;
  font-size: 0.75rem;
  display: none;
}
.theme-wrapper.highContrast .warning-msg-productname {
  color: #FFEB32;
}

.warning-msg-productprice {
  color: #EB5757;
  font-size: 0.75rem;
  display: none;
}
.theme-wrapper.highContrast .warning-msg-productprice {
  color: #FFEB32;
}

.warning-msg-purchaselink {
  color: #EB5757;
  font-size: 0.75rem;
  display: none;
}
.theme-wrapper.highContrast .warning-msg-purchaselink {
  color: #FFEB32;
}

.size-ms:disabled {
  background-color: #BCADDC;
  color: #767676;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.theme-wrapper.highContrast .size-ms:disabled {
  background-color: transparent;
}

.theme-wrapper.highContrast .size-ms:disabled {
  color: #f2f2f2;
}

.theme-wrapper.highContrast .size-ms:disabled {
  -webkit-box-shadow: 0 0 0 2px #E4D6FF inset;
          box-shadow: 0 0 0 2px #E4D6FF inset;
}

.size-ms {
  background-color: #635CA5;
  color: #ffffff;
}
.theme-wrapper.highContrast .size-ms {
  background-color: #E4D6FF;
}

.theme-wrapper.highContrast .size-ms {
  color: #000000;
}

h2 {
  color: #767676;
}
.theme-wrapper.highContrast h2 {
  color: #f2f2f2;
}