.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0px;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.img-crop {
  margin: 0 auto;
  width: 110px;
  border-radius: 50%;
  overflow: hidden;
}
.img-crop img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  height: calc(100% + 61px);
  background-color: #fff;
}

main {
  min-width: 390px;
  background-color: #f2f2f2;
  margin-bottom: 61px;
}
main > section {
  background-color: #fff;
}

header {
  background-color: #fff;
}
.profile-info-wrapper.highContrast header {
  background-color: #000000;
}

.profile-container {
  border: 1px solid #dbdbdb;
  border-top: 0;
  background-color: #fff;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 26px;
  padding-right: 50px;
  padding-left: 50px;
}
.profile-info-wrapper.highContrast .profile-container {
  border: none;
}

.profile-info-wrapper.highContrast .profile-container {
  background-color: #000000;
}

.profile-container a {
  text-decoration: none;
}
.profile-container .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile-container .profile-header strong {
  color: #000000;
}
.profile-info-wrapper.highContrast .profile-container .profile-header strong {
  color: #ffffff;
}

.profile-container .profile-header .profile-id {
  color: #767676;
}
.profile-info-wrapper.highContrast .profile-container .profile-header .profile-id {
  color: #dbdbdb;
}

.profile-container .follow-wrap {
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% + 1.5rem + 94px));
          transform: translateX(calc(-50% + 1.5rem + 94px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.profile-container .follow-wrap p {
  margin-top: 6px;
  font-size: 0.5rem;
  color: #767676;
}
.profile-info-wrapper.highContrast .profile-container .follow-wrap p {
  color: #dbdbdb;
}

.profile-container .follow-wrap > strong {
  font-size: 1.125rem;
  font-weight: 700;
  color: #767676;
}
.profile-container .follow-wrap:nth-of-type(1) {
  -webkit-transform: translateX(calc(-50% - 1.5rem - 94px));
          transform: translateX(calc(-50% - 1.5rem - 94px));
}
.profile-container .follow-wrap:nth-of-type(1) > strong {
  color: #000;
}
.profile-container .profile-name {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
}
.profile-container .profile-id {
  font-size: 0.75rem;
}
.profile-container .profile-id::before {
  content: "@ ";
}
.profile-container .profile-intro {
  color: #767676;
  font-size: 0.875rem;
  margin-top: 16px;
  margin-bottom: 24px;
}
.profile-info-wrapper.highContrast .profile-container .profile-intro {
  color: #dbdbdb;
}

.profile-container .btn-wrap-my {
  font-size: 0;
  line-height: 0;
}
.profile-container .btn-wrap-my button {
  background-color: #ffffff;
  color: #767676;
}
.profile-info-wrapper.highContrast .profile-container .btn-wrap-my button {
  background-color: #E4D6FF;
}

.profile-info-wrapper.highContrast .profile-container .btn-wrap-my button {
  color: #000000;
}

.profile-container .btn-wrap-my :first-child {
  margin-right: 12px;
}
.profile-container .btn-wrap-my .btn-link {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  color: #767676;
  border-radius: 30px;
  padding: 8px 27px;
  font-size: 0.875rem;
  font-weight: 500;
}
.profile-container .btn-wrap-your {
  font-size: 0;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile-container .btn-wrap-your .circle {
  border: 1px solid #767676;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: no-repeat center center;
}
.profile-info-wrapper.highContrast .profile-container .btn-wrap-your .circle {
  border: 1px solid #dbdbdb;
}

.profile-container .btn-wrap-your .btn-chat {
  background-image: url(../assets//icon/icon-message-circle.svg);
}
.profile-info-wrapper.highContrast .profile-container .btn-wrap-your .btn-chat {
  background-image: url(../assets//icon/icon-message-circle-hc.svg);
}

.profile-container .btn-wrap-your .btn-share {
  background-image: url(../assets//icon/icon-share.svg);
}
.profile-info-wrapper.highContrast .profile-container .btn-wrap-your .btn-share {
  background-image: url(../assets//icon/icon-share-hc.svg);
}

.profile-container .btn-wrap-your .size-m {
  margin: 0 12px;
  height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.profile-container .btn-wrap-your .size-m.hidden {
  display: none;
}

.product-container {
  background-color: #fff;
}
.profile-info-wrapper.highContrast .product-container {
  background-color: #000000;
}

.product-container h2 {
  color: #000000;
}
.profile-info-wrapper.highContrast .product-container h2 {
  color: #ffffff;
}

.product-container .product-name {
  color: #000000;
}
.profile-info-wrapper.highContrast .product-container .product-name {
  color: #ffffff;
}

.product-container .product-price {
  color: #BF8DFF;
}
.profile-info-wrapper.highContrast .product-container .product-price {
  color: #C5A8FF;
}

.post-container {
  background-color: #fff;
}
.profile-info-wrapper.highContrast .post-container {
  background-color: #000000;
}

.user-follow .user-info {
  color: #000000;
}
.user-follow .user-info .user-id {
  color: #767676;
}
.profile-info-wrapper.highContrast .user-follow .user-info .user-id {
  color: #dbdbdb;
}

.profile-info-wrapper.highContrast .user-follow .user-info {
  color: #ffffff;
}

.post-text {
  color: #000000;
}
.profile-info-wrapper.highContrast .post-text {
  color: #ffffff;
}

.cnt {
  color: #767676;
}
.profile-info-wrapper.highContrast .cnt {
  color: #dbdbdb;
}

.btn-comment {
  color: #767676;
}
.profile-info-wrapper.highContrast .btn-comment {
  color: #dbdbdb;
}

.post-date {
  color: #767676;
}
.profile-info-wrapper.highContrast .post-date {
  color: #dbdbdb;
}

.tab-item-list {
  background-color: #fff;
}
.profile-info-wrapper.highContrast .tab-item-list {
  background-color: #000000;
}

.tab-item-list {
  background-color: #fff;
}
.tab-item-list .here {
  background-image: url(../assets/icon/icon-user-fill.svg);
}
.tab-item-list .here p {
  color: #767676;
}
.profile-info-wrapper.highContrast .tab-item-list .here p {
  color: #dbdbdb;
}

.profile-info-wrapper.highContrast .tab-item-list .here {
  background-image: url(../assets/icon/icon-user-fill-hc.svg);
}

.profile-info-wrapper.highContrast .tab-item-list {
  background-color: #000000;
}

.tab-item-chat a {
  background-image: url(../assets/icon/icon-message-circle.svg);
}
.tab-item-chat a p {
  color: #767676;
}
.profile-info-wrapper.highContrast .tab-item-chat a p {
  color: #dbdbdb;
}

.profile-info-wrapper.highContrast .tab-item-chat a {
  background-image: url(../assets/icon/icon-message-circle-hc.svg);
}

.tab-item-follow a {
  background-image: url(../assets/icon/icon-edit.svg);
}
.tab-item-follow a p {
  color: #767676;
}
.profile-info-wrapper.highContrast .tab-item-follow a p {
  color: #dbdbdb;
}

.profile-info-wrapper.highContrast .tab-item-follow a {
  background-image: url(../assets/icon/icon-edit-hc.svg);
}

.tab-item-home a {
  background-image: url(../assets/icon/icon-home.svg);
}
.tab-item-home a p {
  color: #767676;
}
.profile-info-wrapper.highContrast .tab-item-home a p {
  color: #dbdbdb;
}

.profile-info-wrapper.highContrast .tab-item-home a {
  background-image: url(../assets/icon/icon-home-hc.svg);
}

.content-wrap {
  margin-top: 6px;
}

:root {
  background-color: #f2f2f2;
}