.a11y-hidden {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.title-chat {
  color: #000000;
}
.theme-wrapper.highContrast .title-chat {
  color: #ffffff;
}

.follow-list {
  padding: 1.5rem 1rem;
}
.follow-list li:first-child {
  margin-top: 0;
}
.follow-list .follow-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.125rem;
  margin-top: 1rem;
}
.follow-list .follow-item .user-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.75rem;
}
.follow-list .follow-item .user-info {
  width: calc(100% - 130px);
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 0.75rem;
}
.follow-list .follow-item .user-info a {
  color: #000000;
}
.theme-wrapper.highContrast .follow-list .follow-item .user-info a {
  color: #ffffff;
}

.follow-list .follow-item .user-info p {
  color: #767676;
}
.theme-wrapper.highContrast .follow-list .follow-item .user-info p {
  color: #f2f2f2;
}

.follow-list .follow-item .user-info .user-name {
  display: inline-block;
  margin-bottom: 0.375rem;
  font-weight: 500;
  line-height: 1.125rem;
  font-size: 0.875rem;
}
.follow-list .follow-item .user-info .user-intro {
  font-weight: 400;
  line-height: 0.9375rem;
  font-size: 0.75rem;
  color: #767676;
}

.btn-follow {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 3.5rem;
      flex-basis: 3.5rem;
  height: 1.75rem;
  margin-left: auto;
  color: #ffffff;
  background-color: #635CA5;
  border-radius: 1.625rem;
}
.theme-wrapper.highContrast .btn-follow {
  color: #000000;
}

.theme-wrapper.highContrast .btn-follow {
  background-color: #E4D6FF;
}

.btn-follow.opposite {
  color: #767676;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}
.theme-wrapper.highContrast .btn-follow.opposite {
  color: #E4D6FF;
}

.theme-wrapper.highContrast .btn-follow.opposite {
  background-color: transparent;
}

.theme-wrapper.highContrast .btn-follow.opposite {
  border: 2px solid #E4D6FF;
}

.img-cover {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}
.img-cover img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}