.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0px;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.follower-list {
  padding: 24px 16px;
}
.follower-list li:first-child {
  margin-top: 0;
}
.follower-list .follower-item {
  position: relative;
  height: 50px;
  margin-top: 16px;
}
.follower-list .follower-item .user-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 68px);
  height: 100%;
}
.follower-list .follower-item .user-info-wrap .img-cover {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
.follower-list .follower-item .user-info-wrap .img-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.follower-list .follower-item .user-info-wrap .user-info {
  width: calc(100% - 62px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.follower-list .follower-item .user-info-wrap .user-info .user-name {
  font-weight: 500;
  line-height: 18px;
  font-size: 14px;
}
.follower-list .follower-item .user-info-wrap .user-info .user-intro {
  font-weight: 400;
  line-height: 15px;
  font-size: 12px;
  color: #767676;
}
.follower-list .follower-item .btn-follow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 56px;
  height: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  border-radius: 26px;
  background-color: #635CA5;
  color: #FFFFFF;
}
.follower-list .follower-item .btn-follow.cancel {
  background: #FFFFFF;
  color: #767676;
  border: 1px solid #dbdbdb;
}