.a11y-hidden {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

main {
  min-width: 24.375rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 24vw;
  min-width: 8.75rem;
  text-align: left;
}
.product-container {
  overflow: hidden;
  padding: 1.25rem 0;
  position: relative;
  border-top: 0.0625rem solid #dbdbdb;
  border-bottom: 0.0625rem solid #dbdbdb;
  background-color: #ffffff;
}
.product-container h2 {
  margin-bottom: 1rem;
  font-weight: 700;
  margin-left: 1.125rem;
}
.product-list {
  white-space: nowrap;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.product-list > :first-child {
  margin-left: 1.125rem;
}
.product-list > :last-child {
  margin-right: 1.125rem;
}
.product-img {
  width: 100%;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  border-radius: 0.5rem;
  aspect-ratio: 14/9;
  -webkit-user-drag: none;
}
.product-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  margin: 0.4375rem 0;
}
.product-item {
  display: inline-block;
}
.product-item + .product-item {
  margin-left: 0.3125rem;
}
.product-price {
  color: #BF8DFF;
  font-weight: 700;
}