.a11y-hidden {
  clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  border: none;
  background-color: initial;
  padding: 0;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.profile-setting form {
  margin-top: 1.875rem;
}
.profile-setting .title {
  margin-bottom: 0.75rem;
}

form {
  min-width: 330px;
  max-width: 40%;
  margin: 0 auto;
  color: #767676;
  font-size: 0.75rem;
}
form .profile-img {
  position: relative;
  width: 6.875rem;
  margin: 0 auto 1.875rem;
}
form .profile-img .img-cover {
  width: 6.875rem;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}
form .profile-img .img-cover img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
form > fieldset {
  margin-bottom: 1rem;
}
form label {
  color: #767676;
  margin-bottom: 0.125rem;
  display: block;
  text-align: start;
}
.theme-wrapper.highContrast form label {
  color: #f2f2f2;
}

form label.btn-upload {
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  background-color: transparent;
  margin: 0;
}
form label.btn-upload svg > circle {
  fill: #635CA5;
}
.theme-wrapper.highContrast form label.btn-upload svg > circle {
  fill: #E4D6FF;
}

form label.btn-upload svg path {
  stroke: #ffffff;
}
.theme-wrapper.highContrast form label.btn-upload svg path {
  stroke: #000000;
}

form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.0625rem solid #dbdbdb;
  padding: 0.5rem 0;
  background-color: #ffffff;
  color: #000000;
}
.theme-wrapper.highContrast form input {
  background-color: #000000;
}

.theme-wrapper.highContrast form input {
  color: #ffffff;
}

form input.btn-upload {
  display: none;
}
form input::-webkit-input-placeholder {
  font-size: 0.875rem;
  color: #767676;
}
form input::-moz-placeholder {
  font-size: 0.875rem;
  color: #767676;
}
form input:-ms-input-placeholder {
  font-size: 0.875rem;
  color: #767676;
}
form input::-ms-input-placeholder {
  font-size: 0.875rem;
  color: #767676;
}
form input::placeholder {
  font-size: 0.875rem;
  color: #767676;
}
.theme-wrapper.highContrast form input::-webkit-input-placeholder {
  color: #f2f2f2;
}
.theme-wrapper.highContrast form input::-moz-placeholder {
  color: #f2f2f2;
}
.theme-wrapper.highContrast form input:-ms-input-placeholder {
  color: #f2f2f2;
}
.theme-wrapper.highContrast form input::-ms-input-placeholder {
  color: #f2f2f2;
}
.theme-wrapper.highContrast form input::placeholder {
  color: #f2f2f2;
}

form input:focus {
  border-bottom: 1px solid #9747FF;
  outline: none;
}
.theme-wrapper.highContrast form input:focus {
  border-bottom: 1px solid #FFEB32;
}

form [class^=warning-msg] {
  color: #EB5757;
  font-size: 0.75rem;
  display: none;
  margin-top: 0.375rem;
}
.theme-wrapper.highContrast form [class^=warning-msg] {
  color: #FFEB32;
}

.btn-upload {
  cursor: pointer;
}