.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button {
  border: none;
  background-color: initial;
  padding: 0px;
}

input {
  border: none;
}

a {
  color: initial;
  text-decoration: initial;
}

.profile-container {
  position: relative;
  text-align: center;
  padding-top: 30px;
}
.profile-container a {
  text-decoration: none;
}
.profile-container .profile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile-container .img-crop {
  margin: 0 auto;
  width: 110px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
.profile-container .img-crop img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container .follow-wrap {
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translateX(calc(-50% + 24px + 94px));
          transform: translateX(calc(-50% + 24px + 94px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.profile-container .follow-wrap p {
  margin-top: 6px;
  font-size: 0.5rem;
  color: #767676;
}
.profile-container .follow-wrap > strong {
  font-size: 1.125rem;
  font-weight: 700;
  color: #767676;
}
.profile-container .follow-wrap:nth-of-type(1) {
  -webkit-transform: translateX(calc(-50% - 24px - 94px));
          transform: translateX(calc(-50% - 24px - 94px));
}
.profile-container .follow-wrap:nth-of-type(1) > strong {
  color: #000;
}
.profile-container .profile-name {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 10px;
}
.profile-container .profile-id {
  font-size: 0.75rem;
}
.profile-container .profile-id::before {
  content: "@ ";
}
.profile-container .profile-intro {
  font-size: 0.875rem;
  margin-top: 16px;
  margin-bottom: 24px;
}
.profile-container .btn-wrap {
  font-size: 0;
  line-height: 0;
}
.profile-container .btn-wrap button {
  border: none;
  background: none;
}
.profile-container .btn-wrap .circle {
  border: 1px solid #767676;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: no-repeat center center;
}
.profile-container .btn-wrap .btn-chat {
  background-image: url(../assets//icon/icon-message-circle.svg);
}
.profile-container .btn-wrap .btn-share {
  background-image: url(../assets//icon/icon-share.svg);
}
.profile-container .btn-wrap :nth-child(2) {
  margin: 0 12px;
}