// global

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button{
  border: none;
  background-color: initial;
  padding: 0px;
}
input{
  border: none;
}

a{
  color: initial;
  text-decoration: initial;
}