// 변수
$font-sizes: ("size18": 18px, "size16": 16px, "size14": 14px, "size12": 12px, "size10": 10px);

// 색상
$enabled-color: #635CA5;
$disabled-color: #BCADDC;
$highlight-color: #9747FF;
$active-color: #9C85C5;
$price-color: #BF8DFF;
$warning-color-text: #EB5757;
$gray100-color: #dbdbdb;
$gray200-color: #C4C4C4;
$gray300-color: #767676;
$black-color: #000;
