// 변수
$font-sizes: ("size18": 1.125rem, "size16": 1rem, "size14": .875rem, "size12": .75rem, "size10": .625rem);

// 색상
$enabled-color: #635CA5;
$disabled-color: #BCADDC;
$highlight-color: #9747FF;
$active-color: #9C85C5;
$price-color: #BF8DFF;
$warning-color-text: #EB5757;
$gray100-color: #dbdbdb;
$gray200-color: #C4C4C4;
$gray300-color: #767676;
$black-color: #000;
