@import 'global';
@import 'variables';

main{
    padding: 24px 16px;
}

.user-chat-list{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile-img{
        order: 0;
        margin-right: 12px;
    }
    .user-info{
        order: 1;
        width: 100%;
        overflow: hidden;
        margin-right: 13px;
        .user-name{
            font-size: map-get($font-sizes, "size14" );
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 4px;
        }
        .chat-content{
            display: block;
            color: $gray300-color;
            font-size: map-get($font-sizes, "size12" );
            font-weight: 400;
            margin-top: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .chat-date{
        order: 2;
        margin-left: auto;
        font-size: map-get($font-sizes, "size10" );
        color: $gray100-color;
    }
}

.user-img {
    position: relative;
    .profile-dot {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 12px;
        height: 12px;
        background-color: $enabled-color;
        border-radius: 50%;
        z-index: 4;
    }
}

.tab-menu{
    .tab-item-list{
        li:nth-child(2) {
            a::before{
                background-image: url("../assets/icon/icon-message-circle-fill.svg");
            }
        }    
    }
}