@import 'global';
@import 'mixin';

.chat-list{
    padding: 1.5rem 1rem;
}

.user-chat-content{
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .user-img{
        order: 0;
        margin-right: 0.75rem;
        flex-shrink: 0;
    }
    .user-info{
        order: 1;
        width: calc(100% - 130px);
        flex-shrink: 1;
        margin-right: 0.8125rem;
        .user-name{
            font-size: map-get($font-sizes, "size14" );
            font-weight: 500;
            line-height: 1.125rem;
            margin-bottom: 0.25rem;
        }
        .chat-content{
            display: block;
            @include get-color(color, gray-color);
            font-size: map-get($font-sizes, "size12" );
            font-weight: 400;
            margin-top: 0.125rem;
        }
    }
    .chat-date{
        order: 2;
        margin-left: auto;
        font-size: map-get($font-sizes, "size10" );
        color: $gray100-color;
    }
}

.new-chat {
    position: relative;
    .profile-dot {
        position: absolute;
        left: 0.125rem;
        @include width-height(0.75rem, 0.75rem);
        background-color: $enabled-color;
        border-radius: 50%;
        z-index: 1;
    }
}

.img-cover {
    @include image-cover;
    @include width-height(3.125rem, 3.125rem);
    @include profile-img-tag;
}