@import 'global';
@import 'mixin';

.home-post, .home-post-onlytext{
    margin-top: 1.25rem;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-gray100-1px;
}
.nav{
    &-main {
            padding: 0.8125rem 1rem;
    }
    &-search{
        padding: .5625rem 1rem;
    }
        &-basic,
        &-chat {
        padding: 0.1875rem 0.3125rem;
    }
        &-upload {
            padding: 0.1875rem 1rem 0.3125rem 0.1875rem;
        }
}

.btn-back{
    @include width-height(2.75rem, 2.75rem);
    background: url('../assets/icon/icon-arrow-left.svg') no-repeat center;
}
.btn-option, .btn-more{
    @include width-height(2.75rem, 2.75rem);
    background: url('../assets/icon/icon-more-vertical.svg') no-repeat center;
}

.highContrast{
    .btn-back{
        background-image: url("../assets/icon/icon-arrow-left-hc.svg");
    }
    .btn-option, .btn-more{
        background-image: url('../assets/icon/icon-more-vertical-hc.svg');
    }
}

.nav-basic, .nav-upload{
    .btn-back{
        order: 0;
    }
    .btn-option, .btn-save, #upload-btn{
        order: 1;
    }
}

.nav-chat, .comment{
    .btn-back, .profile-img{
        order: 0;
        margin-right: .625rem;
    }
    .title-chat, #commemt-input{
        order: 1;
        margin-right: auto;
        flex-grow: 1;
    }
    .btn-comment{
        order: 2;
        margin-left: auto;
        flex-basis: 8%;
    }
}
.nav-search{
    .btn-button{
        order: 0;
    }
    #inp-search{
        order: 1;
        flex-grow: 1;
        margin-left: 1.25rem;
        border-radius: 2rem;
        padding: .4375rem 0rem .4375rem 1rem;
        background-color: $gray50-color;
        line-height: 1.125rem;
    }
    input::placeholder{
        color: $gray200-color;
    }
}
.nav-main{
    .title-main{
        font-size: map-get($font-sizes,"size18");
        font-weight: 500;
    }
}

.nav-chat{
    .title-chat{
        font-size: map-get($font-sizes,"size14");
        font-weight: 500;
    }
}

.comment{
    @include get-color(background-color, bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $border-gray100-1px;
    border-bottom: $border-gray100-1px;
    padding: 0.1875rem 0.3125rem;
    button{
        font-size: map-get($font-sizes, "size14" );
    }
    input::placeholder{
        color: $gray200-color;
    }
}

// 모달창
// 하단 모달창 부분
.post-modal-background{
    display: none;
    position: fixed;
    @include width-height(100%, 100%);
    bottom: 0;
    @include get-color(background-color, background-color);
    .post-modal-content{
        @include get-color(background-color, bg-color);
        padding-bottom: .625rem;
        border-radius: 1.25rem 1.25rem 0 0;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .modal-content{
        padding: 0rem 1.625rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
    .post-modal-bar{
        background-color: $gray100-color;
        @include width-height(3.125rem, 0.25rem);
        margin: 1rem auto;
    }
    .modal-description{
        width: 100%;
        text-align: left;
        padding: .875rem 0rem;
        @include get-color(color, font-color);
        font-size: map-get($font-sizes, size14);
    }
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $white-color;
}

// 삭제 모달창
.modal-background{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    @include width-height(100%, 100%);
    @include get-color(background-color, background-color);
    display: flex;
    .modal-content{
        width: 15.75rem;
        @include get-color(background-color, bg-color);
        border-radius: .625rem;
        text-align: center;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        .modal-description {
            padding: 1.375rem 2.5rem;
            font-size: map-get($font-sizes, "size16");
            border-bottom: .0313rem solid $gray100-color;
            @include get-color(color, font-color);
            font-weight: 500;
        }
    }
}

.modal-actions {
    display: flex;
    justify-content: center;
    font-weight: 400;
    .left-button {
        order: 0;
        width: 7.875rem;
        padding: .875rem 3rem;
        font-size: map-get($font-sizes, "size14");
        @include get-color(color, font-color);
        border-right: .0313rem solid $gray100-color;
    }
    .right-button {
        order: 1;
        width: 7.875rem;
        padding: .875rem 2.1875rem;
        @include get-color(color, point-color);
        font-size: map-get($font-sizes, "size14");
    }
}

.mode_select{
    label{
        display: block;
        padding: .875rem 0rem;
    }
}

.nav-chat, .comment{
    .btn-back, .profile-img{
        order: 0;
        margin-right: .625rem;
    }
    .title-chat, #commemt-input{
        order: 1;
        margin-right: auto;
    }
    .btn-option, .btn-comment{
        order: 2;
        margin-left: auto;
    }
}

/* 게시물 */
.user-follow{
    height: 2.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img-cover {
        @include image-cover;
        @include width-height(2.25rem, 2.25rem);
        @include profile-img-tag;
        border: $border-gray100-1px;
    }
    .profile-img{
        order: 0;
        margin-right: .75rem;
    }
    .user-info{
        order: 1;
        margin-right: auto;
    }
}

.home-post{
    position: relative;
    .btn-option {
        width: 1.5rem;
        position: absolute;
        top: 0;
        right: -0.75rem;
            transform: translateX(-25%);
        img{
            width: 100%;
        }
    }
    .btn-like.like{
        svg {
            fill : $highlight-color;
            path {
                stroke :$highlight-color;
            }
        }
    }
}

.user-info{
    .user-name{
        font-size: map-get($font-sizes, "size14" );
        font-weight: 500;
        line-height: 1.125rem;
        @include get-color(color, font-color);
    }
    .user-id{
        @include get-color(color, gray-color);
        font-size: map-get($font-sizes, "size12" );
        font-weight: 400;
        margin-top: .125rem;
        &:before{
            content : '@ '
        }
    }
}

.post-edit{
    margin: 1rem auto 1rem 3.375rem;
    padding-bottom: .3125rem;
    a:first-child {
        display: block;
    }

    .post-text{
        @include get-color(color, font-color);
        margin-bottom: 1rem;
        line-height: 1.125rem;
        word-break: break-all;
        white-space: pre-line;
    }
    
    .img-cover {
        max-width: 19rem;
        margin-bottom: .75rem;
        border-radius: 0.625rem;
        overflow: hidden;
        border: $border-gray100-1px;

        .post-img {
            @include width-height(100%, 100%);
            object-fit: cover;
        }
    }
}
.post-icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    color: $gray300-color;
    font-size: map-get( $font-sizes, "size12" );
    &>*{
        display: flex;
        align-items: center; 
        gap: 0.25rem;
        color: inherit;
    }
}
    .post-date{
        @include get-color(color, gray-color);
        font-size: map-get( $font-sizes, "size10" );
    }


/* button */
.size-l, .size-m, .size-ms, .size-s {
    @include get-color(background-color, enabled-btn-color);
    @include get-color(color, btn-font-color);
}
.size-l:disabled, .size-m:disabled, .size-ms:disabled, .size-s:disabled {
    @include btn-disabled(background-color, disabled-btn-color);
}

.size{
    &-l{
        font-weight: 500;
        width: 20.125rem;
        padding: .8125rem 0rem;
        border-radius: 2.75rem;
        font-size: map-get( $font-sizes, "size14" );
    }
    &-m{
        font-weight: 500;
        width: 7.5rem;
        padding: .5rem 0rem;
        border-radius: 1.875rem;
        font-size: map-get( $font-sizes, "size14" );
    }
    &-ms{
        font-weight: 500;
        width: 5.625rem;
        padding: .4375rem 0rem;
        border-radius: 2rem;
        font-size: map-get( $font-sizes, "size14" );
    }
    &-s{
        font-weight: 400;
        width: 3.5rem;
        padding: .4375rem 0rem;
        border-radius: 1.625rem;
        font-size: map-get( $font-sizes, "size12" );
    }
}

.cancle{
    @include get-color(background-color, bg-color);
    @include get-color(color, cancle-btn-color);
    @include get-color(border, cancle-btn-border);
}



.skip-nav{
    position:absolute;
    @include width-height(100%, 0);
    z-index:10000;
    a {
        display:block;
        @include width-height(0.0625rem, 0.0625rem);
        margin-bottom:-0.0625rem;  
        font-weight:bold;
        font-size: map-get($font-sizes, "size14" );
        text-align:center;
        white-space:nowrap;
        background:#1c1c1c;
        color:$white-color;
        overflow:hidden;

        &:focus, &:active{
            @include width-height(fit-content, auto);
            padding:0.9375rem;
            font-size: map-get($font-sizes, "size16" );
        }
    }
}

.highContrast .skip-nav a{
    background: $white-color;
    color: #1c1c1c;
}

.mode_select{
    label > input{
        margin-right: 0.9375rem;
    }
}