@import 'global';
@import 'mixin';

@mixin get-color($property, $color) {

    #{$property}: get-color($color);

    @at-root .highContrast & {
        #{$property}: get-color($color, highContrast);
    }
}

// 푸터 - 하단 탭 메뉴

.tab-item-list{
    border-top: .0313rem solid $gray100-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include get-color(background-color, bg-color);
    li{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        a{  
            flex-grow: 1;
            top: 0;
            width: 5.25rem;
            display: inline-block;
            font-size: map-get($font-sizes, "size10");
            color: $gray300-color;
            text-align: center;
            background-repeat: no-repeat;
            background-position: 50% 40%;
            background-size: 1.25rem 1.25rem;
        }
        p {
            font-weight: 400;
            padding-top: 2.5rem;
            padding-bottom: .625rem;
            text-align: center;
            width: calc(100vw / 4);
        }
        &:hover{
            background-color: #F1F1F1;
        }
    }
    li:first-child { 
        a{
            @include get-color(background-image, home-image);
        }
        a.here{
            background-image: url("../assets/icon/icon-home-fill.svg");
        }
    }
    li:nth-child(2) {
        a{
            background-image: url("../assets/icon/icon-message-circle.svg");
        }
        a.here{
            background-image: url("../assets/icon/icon-message-circle-fill.svg");
        }
    }
    li:nth-child(3) {
        a{
            @include get-color(background-image, post-image);
        }
    }
    li:nth-child(4) {
        a{
            @include get-color(background-image, profile-image);
        }
        a.here{
            background-image: url("../assets/icon/icon-user-fill.svg");
        }
    }
}