@import "global";
@import "variables";

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.search-user-list {
    margin-left: 1rem;
    margin-top: 1.25rem;
}

li {
    margin-bottom: 1rem;
}