@import "global";
@import 'mixin';

main{
    padding-bottom: 4.0625rem;
}

.search-user-list {
    li {
        margin-bottom: 1rem;
    }
    margin-left: 1rem;
    margin-top: 1.25rem;
}

.user-id, .user-name{
    strong {
        @include get-color(color, point-color);
    }
}

#inp-search{
    @include get-color(background-color, input-color);
}

#inp-search::placeholder {
    @include get-color(color, search-placeholder-color);
}

.user-name {
    @include get-color(color, font-color);
}
.user-id {
    @include get-color(color, gray-color);
}