@import 'global';
@import 'mixin';

.join {
    padding: 2.125rem;
}

h2,
p {
    @include get-color(color, gray-color);
    text-align: center;
    font-size: map-get($font-sizes, "size14" );
}

.title {
    font-size: map-get($font-sizes, "size24");
    @include get-color(color, font-color);
}

.join-email form {
    margin-top: 2.5rem;
}

.profile-setting {
    form {
        margin-top: 1.875rem;
    }

    .title {
        margin-bottom: 0.75rem;
    }
}

// form
form {
    min-width: calc(390px - 30px * 2);
    max-width: 40%;
    margin: 0 auto;
    @include get-color(color, gray-color);
    color: $gray300-color;
    font-size: map-get($font-sizes, "size12");

    .profile-img {
        position: relative;
        width: 6.875rem;
        margin: 0 auto 1.875rem;

        .img-cover {
            width: 6.875rem;
            @include image-cover;
            @include profile-img-tag;
        }
    }

    .upload-img{
        circle {
            @include get-color(fill, profile-image-btn);
        }
        path {
            @include get-color(stroke, btn-font-color);
        }
    }


    &>fieldset {
        margin-bottom: 1rem;
    }

    label {
        @include label-tag;
        text-align: start;
    }

    label.btn-upload {
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        margin: 0;

        svg>circle {
            fill: $active-color;
        }
    }

    input {
        display: block;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
        width: 100%;
        border: none;
        border-bottom: $border-gray100-1px;
        padding: 0.5rem 0;
    }

    input::placeholder{
        @include get-color(color, placeholder-color);
    }

    input.btn-upload {
        display: none;
    }

    input::placeholder {
        font-size: map-get($font-sizes, "size14");
        color: $gray100-color;
    }

    input:focus {
        border-bottom: 0.0625rem solid $highlight-color;
        outline: none;
    }

    [class^=warning-msg] {
        @include warning-message(color, warning-color);
        margin-top: 0.375rem;
    }
}

// button
button {
    display: block;
    border: solid 0.0625rem;
    border-radius: 2.75rem;
    margin: 0 auto;
}

@include join-btn-size-l; //size-l button

.btn-next {
    border: none;
    margin-top: 1.875rem;
    padding: 0.8125rem;
}

.btn-next:disabled {
    @include btn-disabled(color, font-color);
}

.btn-upload {
    cursor: pointer;
}