@import 'variables';
@import 'global';
@import 'mixin';

.join {
    padding: 34px;
}

h2,
p {
    @include get-color(color, gray-color);
    text-align: center;
    font-size: 14px
    ;
}

.title {
    font-size: 24px;
    @include get-color(color, font-color);
}

.join-email form {
    margin-top: 40px;
}

.profile-setting {
    form {
        margin-top: 30px;
    }

    .title {
        margin-bottom: 12px;
    }
}

// form
form {
    min-width: calc(390px - 30px * 2);
    max-width: 40%;
    margin: 0 auto;
    @include get-color(color, gray-color);
    color: $gray300-color;
    font-size: .75rem;

    .profile-img {
        position: relative;
        width: 110px;
        margin: 0 auto 30px;

        .img-cover {
            width: 110px;
            border-radius: 50%;
            overflow: hidden;
            img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
        }
    }

    .upload-img{
        circle {
            @include get-color(fill, profile-image-btn);
        }
        path {
            @include get-color(stroke, btn-font-color);
        }
    }


    &>fieldset {
        margin-bottom: 16px;
    }

    label {
        @include get-color(color, gray-color);
        display: block;
        margin-bottom: 2px;
        text-align: start;
    }

    label.btn-upload {
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        margin: 0;

        svg>circle {
            fill: $active-color;
        }
    }

    input {
        display: block;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray100-color;
        padding: 8px 0
    }

    input::placeholder{
        @include get-color(color, placeholder-color);
    }

    input.btn-upload {
        display: none;
    }

    input::placeholder {
        font-size: .875rem;
        color: $gray100-color;
    }

    input:focus {
        border-bottom: 1px solid $highlight-color;
        outline: none;
    }

[class^=warning-msg] {
    @include get-color(color, warning-color);
        font-size: 12px;
        margin-top: 6px;
        display: none;
    }
}


// button
button {
    display: block;
    border: solid 1px;
    border-radius: 44px;
    margin: 0 auto;
}

.size-l {
    margin-top: 30px;
    @include get-color(background-color, disabled-btn-color);
    @include get-color(color, font-color);
    @include get-color(box-shadow, box-shadow);
    font-weight: 500;
    width: 100%;
    padding: 13px 0px;
    border-radius: 44px;
    font-size: map-get($font-sizes, "size14");
}

// .size-l:disabled {
//     // @include get-color(background-color, disabled-btn-color);
//     // @include get-color(color, font-color);
//     // @include get-color(box-shadow, box-shadow);
// }

.btn-next {
    border: none;
    color: white;
    @include get-color(background-color, enabled-btn-color);
    margin-top: 30px;
    padding: 13px;
}

.btn-next:disabled {
    @include get-color(background-color, disabled-btn-color);
    color: white;
    @include get-color(box-shadow, box-shadow);
}

.btn-upload {
    cursor: pointer;
}