@import "global";
@import "mixin";

body{
    background-color: $enabled-color;
    position: relative;
    text-align: center;
}

.back{
    height: calc(100vh - 310px);
    @include get-color(background-image, bg-logo);
    background-repeat: no-repeat;
    background-position: 98% 98%;
}

.login{
    @include get-color(background-color, bg-color);
    border-radius: 20px 20px 0 0 ;
    padding : 50px 34px 82px;
    min-width: 390px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.domain{
    display: block;
    border: 1px solid $gray300-color;
    border-radius: 44px;
    font-size: map-get($font-sizes, "size14");
    padding: 13px;

    + .domain {
        margin-top: 10px;
    }
    background: {
        repeat : no-repeat;
        position: 10px center;
    };

    &.kakao{
        @include get-color(border-color, kakao-color);
        background-image: url(../assets/message-circle.svg);
        @include get-color(color, gray-color);
    }
    &.google{
        @include get-color(border-color, google-color);
        background-image: url(../assets/Google__G__Logo\ 2.svg);
        @include get-color(color, gray-color);
    }
    &.facebook{
        @include get-color(border-color, facebook-color);
        background-image: url(../assets/facebook.svg);
        @include get-color(color, gray-color);
    }
}

.email {
    font-size: map-get($font-sizes, "size12");
    margin-top: 20px;
    @include get-color(color, gray-color);
    a {
        @include get-color(color, gray-color);
    }

    span{
        margin: 0 12px;
    }
}