@import "variables";
@import "global";

$theme: (
    light: (bg-color:#fff,
    enabled-btn-color: #635CA5,
    disabled-btn-color: #BCADDC,
    font-color: #000000,
    btn-font-color: #ffffff,
    gray-color: #767676,
    box-shadow : none,
    border: none,
    kakao-color : #F2C94C,
    google-color : #767676,
    facebook-color : #2D9CDB,
    placeholder-color:#dbdbdb,
    warning-color: #EB5757,
    bg-logo:url(../assets/symbol-logo.svg),
    ),
    highContrast: (bg-color:#000000,
    enabled-btn-color: #E4D6FF,
    disabled-btn-color: transparent ,
    font-color: #ffffff,
    btn-font-color: #000000,
    gray-color: #dbdbdb,
    box-shadow: 0 0 0 2px #E4D6FF inset,
    border: 2px solid #E4D6FF,
    kakao-color : #FFEB32,
    google-color : #65FB76,
    facebook-color : #B3E3FF,
    placeholder-color:#FFEB32,
    warning-color: #FFEB32,
        bg-logo:url(../assets/symbol-logo-hc.svg),
    )
);

@function get-color($key, $type: 'light') {
    @each $name,
    $color in map-get($theme, $type) {
        @if($key ==$name) {
            @return $color
        }
    }
}

@mixin get-color($property, $color) {
    
    #{$property}: get-color($color);

    @at-root .login-wrapper.highContrast & {
        #{$property}: get-color($color, highContrast);
    }
}


body{
    background-color: $enabled-color;
    position: relative;
    text-align: center;
}

.back{
    height: calc(100vh - 310px);
    @include get-color(background-image, bg-logo);
    background-repeat: no-repeat;
    background-position: 98% 98%;    
}

.login {
    @include get-color(background-color, bg-color);
    border-radius: 20px 20px 0 0 ;
    padding : 50px 34px 82px;
    min-width: 390px;
    width: 100%;

    position: fixed;
    bottom: 0;
}

.domain{
    display: block;
    border: 1px solid $gray300-color;
    border-radius: 44px;
    font-size: .875rem;
    padding: 13px;
    position: relative;

    + .domain {
        margin-top: 10px;
    }
        &::before {
            content: "";
            display: inline-block;
            width: 24px;
            height: 24px;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 10px;
        }

    &.kakao{
        @include get-color(border-color, kakao-color);
        @include get-color(color, gray-color);
        &::before {
                background: no-repeat url(../assets/sns-logo-sprites.png) -10px -10px / 132px 44px;
            }
    }
    &.google{
        @include get-color(border-color, google-color);
        @include get-color(color, gray-color);
        &::before {
                background: no-repeat url(../assets/sns-logo-sprites.png) -54px -10px / 132px 44px;
            }
    }
    &.facebook{
        @include get-color(border-color, facebook-color);
        @include get-color(color, gray-color);
        &::before {
                background: no-repeat url(../assets/sns-logo-sprites.png) -98px -10px / 132px 44px;
            }
    }
}

.email {
    font-size: .75rem;
    margin-top: 20px;
    @include get-color(color, gray-color);
    a {
        @include get-color(color, gray-color);
    }

    span{
        margin: 0 12px;
    }
}