@import 'global';
@import 'mixin';

.login {
    padding: 1.875rem;
}
.title {
    text-align: center;
    font-size: map-get($font-sizes, "size24");
    @include get-color(color, font-color);
}

.join {
    color: $gray300-color;
    font-size: map-get($font-sizes, "size12");
    display: inline-block;
    margin: 1.25rem auto 0;
}

form {
    min-width: calc(390px - 30px * 2);
    max-width: 40%;
    margin: 0 auto;
    margin-top: 2.5rem;

    @include get-color(color, gray-color);
    font-size: map-get($font-sizes, "size12");

    &>label {
        @include label-tag;
        margin-top: 1rem
    }

    &>input {
        display: block;
        width: 100%;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
        border: none;
        border-bottom: $border-gray100-1px;
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }


    &>input::placeholder {
        font-size: map-get($font-sizes, "size14");
        color: $gray100-color;
    }
}

// button
@include join-btn-size-l; //size-l button

.size-l:disabled {
    @include btn-disabled(color, font-color);
}

[class^="warning-msg"] {
    @include warning-message(color, warning-color);
    margin-top: 0.375rem;
}

.email-join {
    text-align: center;
    a {
        @include get-color(color, gray-color);
    }
    
}

input:focus {
    border-bottom: 0.0625rem solid $highlight-color;
    outline: none;
}

.color-wrapper {
    @include get-color(background-color, bg-color);
}

