nav {
    // box-shadow: 0px 0px 7px gray inset;
}

main {
    // box-shadow: 0px 0px 7px rgb(81, 139, 232) inset;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    
    textarea {
        margin-top: 20px;
        border: none;
        resize: none;
        width: 75vw;
    }
    img {
        width: 75vw;
        height: 220px;
        border-radius: 10px;
    }
}

.user-profile {
    display: inline-block;
    margin: 10px;
}

.input-file-btn {
    img {
        width: 50px;
        height: 50px;
    }
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
}