@import "global";
@import "mixin";

main {
    margin: 0 .9375rem;
    margin-bottom: 3.8125rem;
}

// 게시글 내용 영역
.home-post {
    border-bottom: $border-gray100-1px;
}
// 게시글 댓글 영역
.comment-list {
    margin-top: 1.25rem;

    .comment-item {
        margin-top: 1.25rem;
        position: relative;
        
        .comment-time {
            display: inline-block;
            font-size: map-get($font-sizes, "size10");
            @include get-color(color, gray-color);
            line-height: 1.125rem;
            vertical-align: top;
            margin-top: 0.375rem;
            padding-left: 0.75rem;
        }
        
        .comment-text {
            margin-left: 3.375rem;
            margin-right: 1.5rem;
            line-height: 1.5;
            font-weight: 400;
            font-size: map-get($font-sizes, "size14");
            @include get-color(color, font-color);
        }
        
        .btn-more {
            position: absolute;
            top: 0;
            left: calc(100% - 44px);
            transform: translate(0, 25%);
        }
    }
}

.comment-user-info {
    display: inline-block;

    .img-cover {
            @include image-cover;
            @include width-height(2.25rem, 2.25rem);
            @include profile-img-tag;
        }
        
        .user-name {
            display: inline-block;
            line-height: 1.1875rem;
            vertical-align: top;
            margin-top: 0.375rem;
            margin-left: 0.75rem;
            font-weight: 500;
            font-size: map-get($font-sizes, "size14");
            @include get-color(color, font-color);
    }
}
.comment {
    .img-cover {
        @include image-cover;
        @include width-height(2.25rem, 2.25rem);
        @include profile-img-tag;
        margin-right: 0.625rem;
    }

    #commemt-input {
        padding: 0.5rem;
        margin-right: 0.625rem;
        @include get-color(color, font-color);
        @include get-color(background-color, bg-color);
        }
        
        button:not(:disabled) {
            @include get-color(color, comment-btn);
}
}

#comment-input::placeholder {
    @include get-color(color, comment-placeholder);
    }

.post-icon {
    path {
        @include get-color(stroke, gray-color);
    }
    span {
        @include get-color(color, gray-color);
    }
}