@import "global";
@import "variables";

main {
    margin: 0 .9375rem
}

.user-comment-info {
    display: flex;
    .user-name {
        font-size: map-get($font-sizes,"size14");
        color: $black-color;
    }
}

.comment-time {
    margin-left: 6px;
    font-size: map-get($font-sizes,"size10");
    color: $gray300-color;
    margin-top: auto;
}

.post-comment {
    margin-top: 20px;
}

.comment-edit {
    margin: 10px auto 16px 54px;
    .comment-text{
        margin-bottom: 16px;
        line-height: 18px;
        font-size: map-get($font-sizes,"size14");
        color: #333333;
    }
}

.home-post {
    border-bottom: 1px solid $gray100-color;
}