@import "variables";
@import "global";

body{
    min-width: 390px;
}
main{
    width: inherit;
    padding: 0 34px;
    margin-top: 30px;
    box-sizing: border-box;
}

form{
    min-width: calc(390px - 34px * 2);
    max-width: 40%;
    margin: 0 auto;

    color: $gray300-color;
    font-size: map-get($font-sizes,"size12");

    & > label{
        display: block;
        margin-bottom: 2px;
    }
    & > input {
        display: block;
        width: 100%;

        margin-bottom: 16px;

        border: none;
        border-bottom: 1px solid $gray100-color;
        padding: 8px 0
    }
    & > input::placeholder{
        font-size: map-get($font-sizes,"size14");
        color: $gray100-color;
    }
}


.product-img {
    border-radius: 20px;
    background: $gray-color;
    position: relative;
    aspect-ratio: 5/3;
    .btn-upload {
        position: absolute;
        right: 12px;
        bottom: 12px;
    }
    margin: {
        top: 18px;
        bottom: 30px
    };
}

#product-img-upload {
    display: none;
}

.upload-img:hover{
    circle {
        fill: $enabled-color;
    }
}
