@import "variables";
@import "global";
@import "mixin";

body{
    min-width: 390px;
}
main{
    width: inherit;
    padding: 0 34px;
    margin-top: 30px;
    box-sizing: border-box;
}

form{
    min-width: calc(390px - 34px * 2);
    max-width: 40%;
    margin: 0 auto;

    color: $gray300-color;
    font-size: map-get($font-sizes, "size12");

    & > label{
        @include get-color(color, gray-color);
        display: block;
        margin-bottom: 2px;
    }
    
    & > input {
        display: block;
        width: 100%;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
        margin-bottom: 6px;
        border: none;
        border-bottom: 1px solid $gray100-color;
        padding: 8px 0
    }
    & > input::placeholder{
        font-size: map-get($font-sizes, "size14");
        @include get-color(color, placeholder-color);
    }

    label[for="product-price"]{
        margin-top: 16px;
    }

    label[for="purchase-link"]{
        margin-top: 16px;
    }
}


.product-img {
    border-radius: 20px;
    background: #f2f2f2;
    position: relative;
    aspect-ratio: 5/3;
    .btn-upload {
        position: absolute;
        right: 12px;
        bottom: 12px;
    }
    margin: {
        top: 18px;
        bottom: 30px
    };
}

#product-img-upload {
    display: none;
}

.upload-img{
    circle {
        @include get-color(fill, image-btn);
    }
}

.btn-upload .upload-img{
    circle:hover {
        fill: #E4D6FF;
    }
}

.warning-msg-productname {
    @include get-color(color, strong-color);
    font-size: map-get($font-sizes, "size12");
    display: none;
}

.warning-msg-productprice{
    @include get-color(color, strong-color);
    font-size: map-get($font-sizes, "size12");
    display: none;
}

.warning-msg-purchaselink {
    @include get-color(color, strong-color);
    font-size: map-get($font-sizes, "size12");
    display: none;
}

.size-ms:disabled{
    @include get-color(background-color, disabled-btn-color);
    @include get-color(box-shadow, box-shadow);
    @include get-color(color, gray-color);
}

.size-ms{
    @include get-color(background-color, upload-btn);
    @include get-color(color, btn-font-color);
}

h2 {
    @include get-color(color, gray-color);
}
