@import "global";
@import "mixin";

body{
    min-width: 24.375rem;
}
main{
    width: inherit;
    padding: 0 2.125rem;
    margin-top: 1.875rem;
    box-sizing: border-box;
}

form{
    min-width: calc(390px - 34px * 2);
    max-width: 40%;
    margin: 0 auto;

    color: $gray300-color;
    font-size: map-get($font-sizes, "size12");

    & > label{
        @include label-tag;
    }
    
    & > input {
        display: block;
        width: 100%;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
        margin-bottom: 0.375rem;
        border: none;
        border-bottom: $border-gray100-1px;
        padding: 0.5rem 0
    }
    & > input::placeholder{
        font-size: map-get($font-sizes, "size14");
        @include get-color(color, placeholder-color);
    }

    label[for="product-price"]{
        margin-top: 1rem;
    }

    label[for="purchase-link"]{
        margin-top: 1rem;
    }
}


.product-img {
    border-radius: 1.25rem;
    background: $gray50-color;
    position: relative;
    aspect-ratio: 5/3;
    .btn-upload {
        position: absolute;
        right: 0.75rem;
        bottom: 0.75rem;
    }
    margin: {
        top: 1.125rem;
        bottom: 1.875rem
    };
}

#product-img-upload {
    display: none;
}

.upload-img{
    cursor: pointer;
    circle {
        @include get-color(fill, image-btn);
    }
}

.btn-upload .upload-img{
    circle:hover {
        @include get-color(fill, enabled-btn-color);
    }
}

.warning-msg-productname {
    @include warning-message(color, warning-color);
}

.warning-msg-productprice{
    @include warning-message(color, warning-color);
}

.warning-msg-purchaselink {
    @include warning-message(color, warning-color);
}

.size-ms:disabled{
    @include btn-disabled(color, gray-color);
}

.size-ms{
    @include get-color(background-color, btn-color);
    @include get-color(color, btn-font-color);
}

h2 {
    @include get-color(color, gray-color);
}
