@import 'global';
@import 'variables';
@import 'mixin';


.profile-setting {
    form {
        margin-top: 30px;
    }

    .title {
        margin-bottom: 12px;
    }
}

// form
form {
    min-width: calc(390px - 30px * 2);
    max-width: 40%;
    margin: 0 auto;

    color: $gray300-color;
    font-size: map-get($font-sizes, "size12");

    .profile-img {
        position: relative;
        width: 110px;
        margin: 0 auto 30px;

        .img-cover {
            width: 110px;
            border-radius: 50%;
            overflow: hidden;
            img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
        }
    }

    &>fieldset {
        margin-bottom: 16px;
    }

    label {
        display: block;
        margin-bottom: 2px;
        text-align: start;
        @include get-color(color, gray-color);
    }

    label.btn-upload {
        position: absolute;
        right: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        margin: 0;

        svg>circle {
            @include get-color(fill, img-icon);
        }
        svg{
            path {
                @include get-color(stroke, bg-color);
            }
        }
    }

    input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray100-color;
        padding: 8px 0;
        @include get-color(background-color, bg-color);
        @include get-color(color, font-color);
    }

    input.btn-upload {
        display: none;
    }

    input::placeholder {
        font-size: map-get($font-sizes, "size14");
        @include get-color(color, gray-color);
    }

    input:focus {
        @include get-color(border-bottom, profile-border-bottom);
        outline: none;
    }

[class^=warning-msg] {
        @include get-color(color, warning-color);
        font-size: map-get($font-sizes, "size12");
        margin-top: 6px;
        display: none;
    }
}


// button
.btn-upload {
    cursor: pointer;
}