@import "global";
@import "variables";

main {
    min-width: 390px
}

.product{
    display: flex;
    flex-direction: column;
    width: 24vw;
    min-width: 140px;
    text-align: left;

    &-container{
        overflow: hidden;
        padding: 20px 0;
        h2{
            margin-bottom: 16px;
            font-weight: 700;
            margin-left: 18px;
        }
        position:relative;
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        background-color: white;
        margin-bottom: 6px;
    }

    &-list{
        white-space: nowrap;
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        >:first-child{
            margin-left: 18px;
        }
        >:last-child{
            margin-right: 18px;
        }
    }

    &-img{
        width: 100%;
        order: -1;
        border-radius: 8px;
        // object-fit: cover;
        aspect-ratio: 14/9;
    }

    // 길면?
    &-name{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        word-break:break-all;

        margin:7px 0;
    }
    &-item{
        display: inline-block;
    }
    &-item + &-item{
        margin-left: 5px;
    }

    &-price{
        color: $price-color;
        font-weight: 700;
    }
}

