@import './_global.scss';
@import './_variables.scss';

.follower-list {
padding: 24px 16px;
li:first-child {
        margin-top: 0;
    }

.follower-item {
    position: relative;
    height: 50px;
margin-top: 16px;

.user-info-wrap {
        display: flex;
        width: calc(100% - 68px);
        height: 100%;

.img-cover {
        flex-shrink: 0;
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;

img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.user-info {
    width: calc(100% - 62px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

.user-name {
        font-weight: 500;
line-height: 18px;
    font-size: map-get($font-sizes, "size14");
}

.user-intro {
font-weight: 400;
line-height: 15px;
    font-size: map-get($font-sizes, "size12");
    color: $gray300-color;
}
}
}
.btn-follow {
    position: absolute;
    top: 50%;
    right: 0;
    width: 56px;
    height: 28px;
    transform: translateY(-50%);
border: none;
    border-radius: 26px;
background-color: $enabled-color;
    color: #FFFFFF;
}

.btn-follow.cancel {
background: #FFFFFF;
    color: $gray300-color;
    border: 1px solid $gray100-color;
}
}
}