@import 'global.scss';
@import 'mixin';

// 게시글 보기 탭
.post-tab {
    height: 2.75rem;
    padding: 0.5625rem 1.3125rem;
    border-top: $border-gray100-1px;
    border-bottom: $border-gray100-1px;
}

.tab-btn-wrap {
    display: flex;
    justify-content: flex-end;

    button {
        @include width-height(1.625rem, 1.625rem);
        border: none;
        background-color: inherit;
        margin-left: 1rem;
        background-repeat: no-repeat;
        background-size: 124px 31px;
        @include get-color(background-image, btn-post-view);
    }

    .btn-post-list {
        background-position: -64.5px -2.5px;
    }

    .btn-post-list.on {
        background-position: -95.5px -2.5px;
    }

    .btn-post-album {
        background-position: -2.5px -2.5px;
    }

    .btn-post-album.on {
        background-position: -33.5px -2.5px;
    }
}

// 게시글 목록 섹션
.post-sec {
    width: 100%;
    padding: 1rem;

    .post-list {

        // 목록형 최상단 게시글 마진 삭제
        li:first-child>section:first-child {
            margin-top: 0;
        }
    }

    .post-album {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .post-list.hidden,
    .post-album.hidden {
        display: none;
    }

    ul {
        min-height: calc(100vh - 360px - 247px - 44px - 61px);
    }
}

// 재사용 코드
.post-album-item {
    @include width-height(100%, 100%);
    overflow: hidden;

    a {
        display: inline-block;
        @include width-height(100%, 100%);
    }

    a:focus {
        border: 0.25rem solid currentColor;
    }

    @include profile-img-tag;
}

.post-container {
    background-color: $white-color;
    margin-top: 0.1875rem;
}