@import "global";
@import "mixin";

.img-crop {
    margin: 0 auto;
    width: 6.875rem;
    border-radius: 50%;
    overflow: hidden;
    border: $border-gray100-1px;
    @include profile-img-tag;
}
body{
    height: calc(100% + 61px);
    background-color: $white-color;
}

main {
    min-width: 24.375rem;
    & > section {
        background-color: $white-color;
    }
    background-color: $gray50-color;
    margin-bottom: 3.8125rem;
}

.profile-container {
    @include get-color(border, profile-border);
    border-top: 0;
    @include get-color(background-color, bg-color);
    position: relative;
    text-align: center;
    padding: {
        top : 1.875rem;
        bottom : 1.625rem;
        right: 3.125rem;
        left: 3.125rem;
    }

    a {
        text-decoration: none;
    }
    .profile-header{
        strong {
            @include get-color(color, font-color);
        }
        .profile-id {
            @include get-color(color, gray-color);
        }
        display: flex;
        flex-direction: column;
    }

    .follow-wrap{
        position: absolute;
        top: 4.0625rem;
        left: 50%;
        transform: translateX(calc(-50% + 1.5rem + 94px));
        display: flex;
        flex-direction: column-reverse;
        order: -1;
        p {
            margin-top: 0.375rem;
            font-size: map-get($font-sizes, "size8");
            @include get-color(color, gray-color);
        }
        & > strong {
            font-size: map-get($font-sizes, "size18");
            font-weight: 700;
            color: $gray300-color;
        }
    }

    .follow-wrap:nth-of-type(1){
        transform: translateX(calc(-50% - 1.5rem - 94px));
        & > strong {
            color: $black-color;
        }
    }

    .profile-name {
        display: block;
        font-size: map-get($font-sizes, "size16");
        font-weight: 700;
        margin : {
            top: 1rem;
            bottom: 0.625rem;
        }
    }

    .profile-id {
        font-size: map-get($font-sizes, "size12");
    }
    .profile-id::before {
        content: "@ ";
    }

    .profile-intro {
        @include get-color(color, gray-color);
        font-size: map-get($font-sizes, "size14");
        margin: {
            top: 1rem;
            bottom: 1.5rem;
        }
    }

    .btn-wrap-my {
        font-size: 0;
        line-height: 0;
        button {
            @include get-color(background-color, btn-back-color);
            @include get-color(color, btn-font);

        }
        & :first-child {
            
            margin-right: 0.75rem;
        }
        
        .btn-link {
            // 버튼 초기화
            background-color: $white-color;
        
            // 스타일
            border: $border-gray100-1px;
            color: $gray300-color;
            border-radius: 1.875rem;
            padding: 0.5rem 1.6875rem;

            font-size: map-get($font-sizes, "size14");
            font-weight: 500;
        }
    }

    .btn-wrap-your {
        font-size: 0;
        line-height: 0;
        .circle{
            @include get-color(border, icon-border);
            border-radius: 50%;
            @include width-height(2.125rem, 2.125rem);
            background-repeat: no-repeat;
            background-size: 90px 30px;
        }

        display: flex;
        justify-content: center;
        
        .btn-chat{
            @include get-color(background-image, icon-sprites);
            background-position: -29px 0; 
        }
        .btn-share{
            @include get-color(background-image, icon-sprites);
            background-position: -60px 0; 
        }
        .size-m {
            margin: 0 0.75rem;
            height: 2.125rem;
            box-sizing: border-box;
            &.hidden{
                display: none;
            }
        }
    }
}

.product-container{
    @include get-color(background-color, bg-color);
    h2 {
        @include get-color(color, font-color);
    }
    .product-name {
        @include get-color(color, font-color);
    }
    .product-price {
        @include get-color(color, price-color);
    }
}

.post-container {
    @include get-color(background-color, bg-color);
}

.user-follow .user-info {
    .user-id {
        @include get-color(color, gray-color);
    }
    @include get-color(color, font-color);
}

.post-text {
    @include get-color(color, font-color);
}

.cnt{
    @include get-color(color, gray-color);
}

.btn-comment {
    @include get-color(color, gray-color);
}

.post-date {
    @include get-color(color, gray-color);
}

.content-wrap {
    margin-top: 3px;
}

:root{
    background-color: $gray50-color;
}