@import 'global';
@import 'mixin';

.title-chat {
    @include get-color(color, font-color);
}

.follow-list {
    padding: 1.5rem 1rem;

    li:first-child {
        margin-top: 0;
    }

    .follow-item {
        display: flex;
        align-items: center;
        height: 3.125rem;
        margin-top: 1rem;

        .user-img {
            flex-shrink: 0;
            margin-right: 0.75rem;
        }

        .user-info {
            a {
                @include get-color(color, font-color);
            }

            p {
                @include get-color(color, gray-color);
            }

            width: calc(100% - 130px);
            flex-shrink: 1;
            margin-right: 0.75rem;

            .user-name {
                display: inline-block;
                margin-bottom: 0.375rem;
                font-weight: 500;
                line-height: 1.125rem;
                font-size: map-get($font-sizes, "size14");
            }

            .user-intro {
                font-weight: 400;
                line-height: 0.9375rem;
                font-size: map-get($font-sizes, "size12");
                color: $gray300-color;
            }
        }
    }
}

.btn-follow {
    flex-shrink: 0;
    flex-basis: 3.5rem;
    height: 1.75rem;
    margin-left: auto;

    @include get-color(color, btn-font-color);
    @include get-color(background-color, btn-color);
    border-radius: 1.625rem;
}

.btn-follow.opposite {
    @include get-color(color, following-btn-color);
    @include get-color(background-color, following-btn-bg);
    @include get-color(border, following-btn-border);
}

// 재사용되는 코드
.img-cover {
    @include image-cover;
    @include width-height(3.125rem, 3.125rem);
    @include profile-img-tag;
}