@import "global";
@import "variables";

main {
    min-width: 24.375rem;
}

.product{
    display: flex;
    flex-direction: column;
    width: 24vw;
    min-width: 8.75rem;
    text-align: left;

    &-container{
        overflow: hidden;
        padding: 1.25rem 0;
        h2{
            margin-bottom: 1rem;
            font-weight: 700;
            margin-left: 1.125rem;
        }
        position:relative;
        border-top: $border-gray100-1px;
        border-bottom: $border-gray100-1px;
        background-color: $white-color;
    }

    &-list{
        white-space: nowrap;
        >:first-child{
            margin-left: 1.125rem;
        }
        >:last-child{
            margin-right: 1.125rem;
        }
        transform: translate(0,0);
    }

    &-img{
        width: 100%;
        order: -1;
        border-radius: 0.5rem;
        aspect-ratio: 14/9;
        -webkit-user-drag: none;
    }

    // 길면?
    &-name{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        word-break:break-all;
        margin:0.4375rem 0;
    }
    &-item{
        display: inline-block;
    }
    &-item + &-item{
        margin-left: 0.3125rem;
    }

    &-price{
        color: $price-color;
        font-weight: 700;
    }
}

