@import './_global.scss';
@import './variables';
@import './mixin';

// 다른 부분 + 적용되지 않는 부분
// $theme: (
//     highContrast: (
//         btn-list-on:url('../assets/icon/icon-post-list-on-hc.svg'),
//         btn-list-off:url('../assets/icon/icon-post-list-off-hc.svg'),
//         btn-album-off:url('../assets/icon/icon-post-album-off-hc.svg'),
//         btn-album-on:url('../assets/icon/icon-post-album-on-hc.svg'),
//         home-image: url(../assets/icon/icon-home-fill-hc.svg),
//         profile-image: url(../assets/icon/icon-user-hc.svg),
//     )
// );

// 게시글 보기 탭
.post-tab {
    height: 44px;
    padding: 9px 21px;
    border-top: 1px solid $gray100-color;
    border-bottom: 1px solid $gray100-color;
}

.tab-btn-wrap {
    display: flex;
    justify-content: flex-end;

    button {
        border: none;
        background-color: inherit;
        width: 26px;
        height: 26px;
        margin-left: 16px;
        background-repeat: no-repeat;
    }

    .btn-post-list {
        @include get-color(background-image, btn-list-off);
    }

    .btn-post-list.on {
        @include get-color(background-image, btn-list-on);
    }

    .btn-post-album {
        @include get-color(background-image, btn-album-off);
    }

    .btn-post-album.on {
        @include get-color(background-image, btn-album-on);
    }
}

// 게시글 목록 섹션
.post-sec {
    width: 100%;
    padding: 16px;

    // overflow-y: scroll;
    
    .post-list {
        // 목록형 최상단 게시글 마진 삭제
        li:first-child>section:first-child {
            margin-top: 0;
        }
    }
    .post-album {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .post-list.hidden,
    .post-album.hidden {
        display: none;
    }
    ul {
        min-height: calc(100vh - 360px - 247px - 44px - 61px);
    }
}

// 재사용 코드
.post-album-item {
    width: 100%;
    height: 100%;
    overflow: hidden;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
    a:focus{
        border: 4px solid currentColor;
    }

    img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

.post-container{
    background-color: $white-color;
    margin-top: 3px;
}