<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component</title>
    <link rel="stylesheet" href="../../dist/css-min/reset.css">
    <link rel="stylesheet" href="../../dist/css-min/comment.css">
    <link rel="stylesheet" href="../../dist/css-min/modal.css">
</head>

<body>
    <!-- 댓글창 -->
    <section class="comment">
        <h2 class="a11y-hidden">댓글창</h2>
        <img class="profile-img" src="../assets/basic-profile.png" alt="프로필사진">
        <label for="commemt-input" class="a11y-hidden"><span class="a11y-hidden">게시물에 대한</span>댓글 입력</label>
        <input type="text" id="commemt-input" placeholder="댓글 입력하기..." tabindex="0">
        <button type="submit" class="btn-comment" tabindex="0" disabled>게시</button>
    </section>

    <!-- 삭제모달창 -->
    <article class="modal-background">
        <p class="a11y-hidden">삭제모달창</p>
        <div class="modal-content">
            <h2 class="modal-title a11y-hidden">삭제 확인</h2>
            <p class="modal-description" tabindex="0">상품을 삭제할까요?</p>
            <div class="modal-actions">
                <button class="right-button" tabindex="0">삭제</button>
                <button class="left-button" tabindex="0">취소</button>
            </div>
        </div>
    </article>
</body>


</html>