<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button-compoenet</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/component.css">
</head>

<body>
    <!-- div 안에 있는 버튼을 사용하시면 됩니다. -->
    <!-- L 사이즈 버튼 -->
    <div>
        <button class="size-l">다음</button>
        <button class="size-l" disabled>다음</button>
    </div>

    <!-- M 사이즈 버튼 -->
    <div>
        <button class="size-m">팔로우</button>
        <button class="size-m" disabled>팔로우</button>
        <button class="size-m cancle">언팔로우</button>
    </div>

    <!-- MS 사이즈 버튼 -->
    <div>
        <button class="size-ms">저장</button>
        <button class="size-ms" disabled>저장</button>
    </div>

    <!-- S 사이즈 버튼 -->
    <div>
        <button class="size-s">팔로우</button>
        <button class="size-s cancle">취소</button>
    </div>

</body>

</html>