<link rel="stylesheet" href="../css/footer.css">

<nav class="tab-menu">
    <p class="a11y-hidden">하단 탭 메뉴</p>
    <ul class="tab-item-list">
        <li class="tab-item-home">
            <a class="home-icon" href="./home.html">
                <p>홈<span class="a11y-hidden">으로 이동</span></p>
            </a>
        </li>
        <li class="tab-item-chat">
            <a href="./chat_list.html">
                <p>채팅<span class="a11y-hidden">으로 이동</span></p>
            </a>
        </li>
        <li class="tab-item-follow">
            <a href="./post_upload.html">
            <p>게시물 작성<span class=" a11y-hidden">으로 이동</span></p>
            </a>
        </li>
        <li class="tab-item-more">
            <a class="more-link" href="./profile_info.html">
                <p>프로필<span class="a11y-hidden">로 이동</span></p>
            </a>
        </li>
    </ul>
</nav>